<h1>
  Flexible Payment
</h1>

<p>
  A <%= @the_number_of_years %> year loan of <%= @the_present_value %>, with an annual interest rate of <%= @the_basis_points/100 %>%, requires a monthly payment of <%= @the_monthly_payment %>.
</p>
