<h1>
  Payment Results
</h1>

<p>
  APR
</p>
<p>
  <%= number_to_percentage(@the_basis_points, precision: 4) %>
</p>
<p>
  Number of years
</p>
<p>
  <%= @the_number_of_years %>.
</p>
<p>
  Principal
</p>
<p>
  <%= number_to_currency(@the_present_value) %>
</p>
<p>
  Payment
</p>
<p>
  <%= number_to_currency(@the_monthly_payment) %>.
</p>

<a href="payment/new">Calculate another payment</a>
