<h1>
  Payment Calculation
</h2>

<form action="/payment/results">

  <p>
    <label for="apr">
      APR
    </label>
    <input id="apr" type="text" name="user_apr">
  </p>
  <p>
    <label for="number_of_years">
      Number of years
    </label>
    <input id="number_of_years" type="text" name="user_number_of_years">
  </p>
  <p>
    <label for="principal">
      Principal
    </label>
    <input id="principal" type="text" name="user_principal">
  </p>
  <p>
    <button>
      Calculate monthly payment
    </button>
  </p>

</form>

<a href="flexible/square/5">Go back home</a>
