<h1>
  Payment Results
</h1>

<p>
  APR
</p>
<p>
  <%= @the_basis_points %>
</p>
<p>
  Number of years
</p>
<p>
  <%= @the_number_of_years %>.
</p>
<p>
  Principal
</p>
<p>
  <%= @the_present_value %>
</p>
<p>
  Payment
</p>
<p>
  <%= @the_monthly_payment %>.
</p>

<a href="payment/new">Calculate another payment</a>
