<h1>
  Payment Calculation
</h2>

<form action="/payment/results">

  <p>
    <label>
      APR
    </label>
    <input type="text" name="user_apr">
  </p>
  <p>
    <label>
      Number of years
    </label>
    <input type="text" name="user_number_of_years">
  </p>
  <p>
    <label>
      Principal
    </label>
    <input type="text" name="user_principal">
  </p>
  <p>
    <button>
      Calculate monthly payment
    </button>
  </p>

</form>

<a href="flexible/square/5">Go back home</a>
