<h1>
  Random Results
</h1>

<p>
  Minimum
</p>
<p>
  <%= @the_minimum %>
</p>
<p>
  Maximum
</p>
<p>
  <%= @the_maximum %>.
</p>
<p>
  Random Number
</p>
<p>
  <%= @the_random_number %>
</p>

<p>
  <a href="random/new">Calculate another random number</a>
</p>
<p>
  <a href="random/results">Calculate another random number within the same range</a>
</p>
