<h1>
  Random Calculation
</h2>

<form action="/random/results">

  <p>
    <label>
      Minimum
    </label>
    <input type="text" name="user_min">
  </p>
  <p>
    <label>
      Maximum
    </label>
    <input type="text" name="user_max">
  </p>
  <p>
    <button>
      Pick random number
    </button>
  </p>

</form>

<a href="flexible/square/5">Go back home</a>
