<h1>
  Square Root Results
</h1>

<p>
  Number
</p>
<p>
  <%= @the_number %>
</p>
<p>
  Square Root
</p>
<p>
  <%= @the_number_squared %>.
</p>

<a href="square_root/new">Calculate another square</a>
