<h1>
  Square Calculation
</h2>

<form action="/square/results">

    <label>
      Enter a number
    </label>
    <input type="text" name="user_number">
    <button>
      Calculate square
    </button>

</form>

<a href="flexible/square/5">Go back home</a>
